---
---

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
    border: 0 none;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

h3 {
    color: white;
    background: linear-gradient(0.25turn, black, white);
    position: relative;
    left: -10%;
    padding: 5px 10%;
    width: 120%;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\25AA";  /* Add content: 25AA is unicode for a square bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}