---
---

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gelion";
  src: url("/assets/fonts/Gelion-Light.otf");
}

@font-face {
  font-family: "Gelion";
  src: url("/assets/fonts/Gelion-Light-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Gelion";
  src: url("/assets/fonts/Gelion-Regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Manofa";
  src: url("/assets/fonts/The Northern Block Ltd - Manofa Condensed Light.otf");
}

@font-face {
  font-family: "Manofa";
  src: url("/assets/fonts/The Northern Block Ltd - Manofa Condensed.otf");
  font-weight: bold;
}

html {
  font-family: "Gelion";
  line-height: 1.1;
}

html {
  padding-top: 100px;
}

body {
  margin: 0;
}

body > * {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

body > * {
  max-width: 1012px;
}  

#shodo-watermark {
  position: absolute;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: red;
  font-size: 44px;
  letter-spacing: 0.2em;
}

#shodo-logo {
  display: block;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

footer {
  text-align: center;
  margin-top: 48px;
  line-height: 48px;
  height: 48px;
  margin-bottom: 24px;
}

#foot-logo {
  float: right;
  width: 48px;
  height: 48px;
}

#foot-email {
  float: left;
  width: 48px; /* artificially set as same as #foot-logo's, so that the "shodo" brand remains centered */
}

#foot-shodo {
  color: red;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  border: 0 none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.markdown-body h1 {
  color: red;
  text-align: center;
  font-family: "Manofa";
}

.markdown-body h2 {
  color: red;
  text-align: center;
  font-family: "Manofa";
  margin-top: 12px;
}

.markdown-body h2::before {
  content: "- ";
}

.markdown-body h2::after {
  content: " -";
}

.markdown-body h3 {
  color: white;
  font-weight: normal;
  letter-spacing: 0.1em;
  background: linear-gradient(0.25turn, black, white);
  position: relative;
  left: -10%;
  padding: 5px 10%;
  width: 120%;
  margin-top: 48px;
  margin-bottom: 24px;
}

.markdown-body h4 {
  color: red;
  font-family: "Manofa";
}

.markdown-body blockquote {
  color: red;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.markdown-body ul {
  list-style: none; /* Remove default bullets */
}

.markdown-body ul li::before {
  content: "\25AA"; /* Add content: 25AA is unicode for a square bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.markdown-body tr {
  vertical-align: top;
}

.markdown-body td:first-child {
  white-space: nowrap; /* prevent automatic line breaks in first column of tables */
  padding-right: 28px;
}

.markdown-body td:first-child {
  font-weight: bold;
}

.markdown-body td:first-child strong {
  font-family: "Manofa";
  color: red;
}

/* repeat footer on every page, when printed, e.g. to PDF */
@media print {
  footer, .footer-space {
    height: 100px;
    width: 100%;
    padding: 10pt;
    margin: 10pt 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
  }

  html {
    padding-top: 50px;
  }  

  #shodo-watermark {
    left: 0;
    top: 50px;
  }

  // p {
  //   page-break-inside: avoid;
  // }
}
