<!DOCTYPE html>
<html lang="{{ page.lang | default: "fr-FR" }}" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keywords }}">
    <link href="{{ "/assets/shodo-logo-bw.png?v=" | append: site.github.build_revision | relative_url }}" rel="icon" type="image/x-png">  
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <!-- we use a table to prevent footer from overlapping with content, on every printed page -->
    <!-- cf https://stackoverflow.com/a/53850595/592254 -->
    <table class="{{ page.containerClass | default: 'container-lg' }} px-3 my-5">
      <tbody><tr><td>
        <div id="pageHost" class="markdown-body">
          <span id="shodo-watermark">SHODO</span>
          <img id="shodo-logo" src="{{ "/assets/shodo-logo-bw.png?v=" | append: site.github.build_revision | relative_url }}" alt="SHODO logo" />
          {{ content }}
        </div>
      </td></tr></tbody>
      <tfoot><tr><td>
        <div class="footer-space">&nbsp;</div>
      </td></tr></tfoot>
    </table>

    <footer class="{{ page.containerClass | default: 'container-lg' }}">
      <img id="foot-logo" src="{{ "/assets/shodo-logo-bw.png?v=" | append: site.github.build_revision | relative_url }}" alt="SHODO logo" />
      <span id="foot-email">contact@shodo.io</span>
      <span id="foot-shodo">SHODO</span>
    </footer>
</body>
</html>
